<!DOCTYPE html>
<!--Simply a message saying 
	the account was deleted.--> 
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Your account was successfully deleted</title>
</head>
<body>
	<header class="header-big">
    	<h1>Your account was successfully deleted</h1>
    </header>
    <header class="header-small">
    	<h1>We hope to see you again soon!</h1>
    </header>
    <div class="container">
		<form action="/">
		<button type="submit">Return to the front page</button>
		</form>
	</div>
</body>
</html>

