<!DOCTYPE html>
<!--The "frontpage" for non-logged in users.
	The option of logging in or registering 
	is available.  --> 
<html>
    <title>Welcome to Resto</title>
</head>
<body>
    <h1>Welcome to Resto</h1>
    <p>Please sign in or create a new account to view more features:</p>
    <ul>
        <li><a href="/login">Log In</a></li>
        <li><a href="/register">Create New Account</a></li>
    </ul>
</body>
<body>
    <h1>Reviewed restaurants</h1>
	<ul>
		{% for restaurant in restaurants %}
		    <li>
		        {{ restaurant.name }} (Average Rating: {{ restaurant.average_rating }})
		    </li>
		{% endfor %}
	</ul>
</body>
</html>


