<!DOCTYPE html>
<!--The register page. This also checks
	if a potentially already used username 
	is being inputted by the user. Gives an 
	error if that is the case. --> 
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Register</title>
</head>
<body>
	<div class="register">
    	<h1>Register</h1>
    </div>

    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
	<div class="container">
		<form method="POST" action="/register">
		    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
		    <p style="color: black;">Username must be 5-20 characters and contain only alphanumeric characters and underscores.</p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br><br>
            <p style="color: black;">Password must be at least 8 characters long and meet complexity requirements (at least one uppercase, one lowercase, one digit, one special character).</p>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>
		    <input type="submit" value="Register">
    	</form>
    </div>
</body>
</html>

